table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 50px;
  };
  
  td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
  };
  
  td:hover {
    background-color: #ccc;
  };
  
  h1 {
    text-align: center;
    margin-top: 30px;
  };